<h1 class='center'>Coffee Recipes</h1>

<% if logged_in? %>
  <h2>Welcome to Coffee Recipes <%= current_user['first_name'] %></h2>

  <section class="controls">
      <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
      </form>

      <a href="/coffees/new">Add a coffee recipe</a>
  </section>

  <section class="coffees">
    <% coffees.each do |coffee| %>
      <section class="coffee">
        <header>
          <h2><%= coffee['name'] %></h2>

        <section class="controls">
          <a href="/coffees/<%= coffee['id'] %>/edit">Edit</a>

          <form action="/coffees/<%= coffee['id'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
          </form>
        </section>
      </header>

      <img src="<%= coffee['image_url'] %>" alt="">
      <span>
      <p>
        <%# <div class="background-elipse"></div> %>
        <div class ="coffe-info">
          <h3>Coffee shoots: <%= coffee['coffee_shots'] %></h3>
          <h3>Ingredients: <%= coffee['ingredients'] %></h3>
          <h3>Servings: <%= coffee['servings'] %></h3>
          <h3>Serves hot y/n: <%= coffee['hot_drink'] %></h3>
          <h3>Dairy free y/n: <%= coffee['dairy_free'] %></h3>
          <h3>Preparation: <%= coffee['steps'] %></h3>
        </div>
      </p>
      </span>
    </section>
  <% end %>
  </section>

<% else %>
  <a href="/users/new">Sign Up</a>
  <a href="/sessions/new">Login</a>
<% end %>